@charset "UTF-8";
html{
    font-size:100%;
}
body{
    font-size:0.9rem;
    line-height:1.7;
    margin:0;
    color:#f6f6e9;
    background-color:rgba(28,28,28,1);
}
a{
    text-decoration:none;
}
img{
    max-width:100%;
}
li{
    list-style:none;
}
.site-title{
    width:100%;
    text-align:center;
    position:absolute;
    margin:0;
    color:#fff;
    filter:drop-shadow(1px 1px 10px #c0c0c0);
    font-size:3.5rem;
    font-family: 'Alegreya Sans SC', sans-serif;
    top:35%;
}
.sub-site-title{
    width:100%;
    text-align: center;
    position:absolute;
    margin:0;
    color:#fff;
    font-family: 'Alegreya Sans SC', sans-serif;
    top:50%;
    filter:drop-shadow(1px 1px 10px #c0c0c0);
}
.sec-title {
    text-align:center;
    font-size:7rem;
    color:#83FFE630;
    // margin-top:0;
    // margin-bottom:0;


    position:relative;
    letter-spacing:5px;
    font-weight:900;
}
.sub-sec-title{
    text-align:center;
    font-size:2.5rem;
    color:#ffffff;
    position:absolute;
    top:50%;
    left:50%;
}
.wrapper{
    box-sizing:border-box;
    background-color:#fff;
    box-shadow:0 0 8px 4px #999;
}
/*----------------------------------------------------
アニメーション
------------------------------------------------------*/
/*スタートアニメーション*/
.start {
	background: #1b1b1b;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 9000;
}
.start span{
    display:none;
}

/*fadeInUpのクラス名*/
.animated{
    // opacity:0;
}
/*fadeIn 0.3s*/
.animated-li {
    /*デフォルトで透明度0に指定*/
    // opacity: 0;
    // transition: 1s;
}
/*fadeIn 0.2s*/
.animated-div {
    /*デフォルトで透明度0に指定*/
    // opacity: 0;
    // transition: 1s;
}
/*スクロールした時に追加されるクラス*/
.fadein{
    // opacity: 1;
}
/*テキストアニメーション*/
.text-container{
    // overflow: hidden;
    // position: relative;
}
.text-container__title{
    // display: block;
    // opacity: 0;
    // position: relative;
    // transition:all .5s .3s ease; 
    // z-index: 0;
}
.text-container:before{
    // background: #333;
    // content: '';
    // display: block;
    // height: 100%;
    // position: absolute;
    // transform: translateX(-100%);
    // transition:all .8s 0s ease; 
    // width: 100%;
    // z-index: 1;     
}
/*アニメーションするプロパティを設定します*/
.text-container.active .text-container__title{
    // opacity: 1;
}
.text-container.active:before{
    // transform: translateX(100%);        
}
/*----------------------------------------------------
header
------------------------------------------------------*/

#header .fa-twitter{
    color:#00acee;
}
#header .fa-instagram{
    color:#daa1e6;
}
#header .fab{
    display:inline-block;
    font-size:1.15rem;
    padding-right:5px;
}
/*Video*/
.bg-video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    
  }
/*menu-btn*/
.menu-btn{
    display:block;
    position:fixed;
    top:25px;
    right:45px;
    z-index:999;
    width:40px;
    height:40px;
    border-radius:10px;
    cursor:pointer;
    transition:all 0.6s;
}
.menu-btn span{
    position:absolute;
    left:5px;
    display:block;
    width:30px;
    height:2px;
    border-radius:1px;
    background-color:#fff;
    transition:all 0.6s;
}
.menu-btn span:nth-child(1){
    top:9px;
}
.menu-btn span:nth-child(2){
    top:19px;
}
.menu-btn span:nth-child(3){
    top:29px;
}
.open .menu-btn {
    background-color:rgba(250,250,250,0);
}
.open .menu-btn span{
    background-color:#fff;
}
.open .menu-btn span:nth-child(1){
    -webkit-transform: translateY(10px) rotate(-315deg);
    transform:translateY(10px) rotate(-315deg);
}
.open .menu-btn span:nth-child(2){
    opacity:0;
}
.open .menu-btn span:nth-child(3){
    -webkit-transform: translateY(-10px) rotate(315deg);
    transform:translateY(-10px) rotate(315deg);
}
/*----------------------------------------------------
nav
------------------------------------------------------*/
#nav{
    width:300px;
    min-height:100vh;
    color:#ffffff;
    z-index:99;
    position:fixed;
    top:0;
    left:-400px;
    opacity:0;
    top:0;
    transition:all 0.6s;
    overflow-x:hidden;
    overflow-y:auto;
    font-family: 'Quicksand', sans-serif;
}
#nav li{
    padding:0 0;
    border-bottom:1px solid #fff;
}
#nav li:first-child{
    border-top:1px solid #fff;
}
#nav ul{
    padding:70px 0;
}
#nav a{
    padding:10px;
    color:#fff;
    text-align:center;
    display:block;
    transition:all 0.6s;
}
#nav a:hover{
    color:#1a1a1a;
    background-color:#fff;
    font-size:1.3rem;
    transition:all 0.6s;
}
#nav a:hover + .fab{
    font-size:2rem;
}
.open #nav{
    opacity:1;
    left:0;
}
/*mask*/
#mask{
    display:none;
    transition:all 0.6s;
}
.open #mask{
    display:block;
    position:fixed;
    left:0;
    top:0;
    z-index:10;
    background-color:rgba(20,20,20,0.7);
    width:100%;
    height: 100%;
    min-height:100vh;
}

/*----------------------------------------------------
mainコンテンツ部分は
------------------------------------------------------*/
// videoコンテンツ部分の実装
#MainPlay{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

// .bg-video {
//     width: 100%;
//     height: 100vh;
//     object-fit: cover;
//   }

/*----------------------------------------------------
index.html work contents
------------------------------------------------------*/

#work .work-wrapper ul{
    padding:50px 30px;
    display:flex;
    flex-wrap:wrap;
}
#work .work-item{
    box-sizing: border-box;
    padding:5px;
    width:33.3%;
    min-width:333px;
    text-align:center;
}
#work .work-item:hover .work-item li{
    padding:50px;
}
#work figure{
    margin:0;
    position:relative;
}
#work figcaption{
    position:absolute;
    top:-4%;
    left:-4%;
    width:108%;
    height:104%;
    background-color:rgba(255,255,255,0);
    transition:all 0.8s;
    color:rgba(255,255,255,0);
    text-align:center;
}
#work figcaption:hover{
    top:7%;
    left:7%;
    width:86%;
    height:86%;
    background-color:rgba(255,46,99,0.6);
    color:rgba(255,255,255,1);
    transition:all 0.8s;
}
#work figcaption h3{
    font-size:0.7rem;
}
#work figcaption p{
    font-size:0.2rem;
}
#work figcaption .fig-inner{
    position:absolute;
    top:50%;
    left:50%;
    transform: translateY(-50%) translateX(-50%);
}
/*----------------------------------------------------
about
------------------------------------------------------*/
#about{
    padding-bottom:70px;
}
#about .profile{
}
#about .icon-wrapper{
    width:80%;
    margin-right:10%;
    margin-left:10%;
    /*text-align:center;*/
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    
}
#about .icon-wrapper img{
    width:35vw;
    box-shadow: 0px 0px 6px #eee;
}
#about .icon-wrapper .name{
   
    -webkit-text-orientation: mixed;
    text-orientation: mixed;
    /*display:-webkit-flex;*/
    /*display:flex;*/
    letter-spacing: 5px
}
#about .icon-wrapper .name .name-main{
    font-size:3rem;
    margin-right:10px;
    margin-top: 0;
    margin-bottom: 0;
}
#about .icon-wrapper .name .name-sub{
    margin:0;
    color:#ff2e63;
}
#about .about-wrapper{
    width:70%;
    padding-right:15%;
    padding-left:15%;
    line-height:2.5;
}
#about .about-wrapper p{
    font-size:0.8rem;
}

#about .about-wrapper h4{
    color:#ff2e63;
    filter:drop-shadow(1px 1px 5px #c0c0c0);
    font-size:1.2rem;
}

/*----------------------------------------------------
skill
------------------------------------------------------*/
#skill .sec-title{
    color:#ffffff30;
}
#skill .skill-wrap{
    display:flex;
    text-align:center;
    flex-wrap:wrap;
    max-width:80%;
    justify-content:space-around;
    margin-left:10%;
    padding:30px 20px;
    font-family: 'Quicksand', sans-serif;
    color:#333;
}
#skill .skill-wrap .skill-item{
    text-align:center;
}
#skill .fab{
    font-size:5rem;
    transition:all 0.5s;
}
#skill .fab:hover{
    transform: rotate(-25deg);
    transition:all 0.5s;
}

/*----------------------------------------------------
service
------------------------------------------------------*/
#service{
    width:100%;
    background-size:cover;
    background-position:center top;
    position:relative;
    background-repeat:no-repeat;
    background-attachment:fixed;
}
#service .sec-title{
    color:#ffffff30;
}
#service .service-wrapper{
    color:#333;
    margin-right:10%;
    margin-left:10%;
    display:flex;
    box-sizing: border-box;
    text-align: center;
}
#service i{
    font-size:3rem;
}
#service .service-wrap-right{
    width:45%;
    padding:30px;
    
    margin-bottom:130px;
}

#service .service-wrap-right p{
    text-align:left;
}
#service .service-wrap-left{
    width:45%;
    margin-right:10%;
    padding:30px;
    
    margin-bottom:130px;
}

#service .service-wrap-left p{
    text-align: left;
}

/*----------------------------------------------------
contact
------------------------------------------------------*/
#contact{
    padding-top:20px;
    background-color:#808080;
    text-align: center;
}
#contact .sec-title{
    /*font-size:6rem;*/
}
#contact .sub-sec-title{
    /*font-size:2rem;*/
}

#contact .contact-wrapper{
    padding-top:0px;
    margin-bottom:0;
    font-family: 'Montserrat Subrayada', sans-serif;
}
#contact .contact-wrapper form{
    margin:0 auto;
    max-width:600px;
    display:flex;
    flex-direction:column;
    padding-bottom: 50px;
}
#contact .contact-wrapper dt{
    padding:10px;
}
#contact .contact-wrapper dd{
    margin-left:0;
}
#contact .contact-wrapper p{
    margin-top:40px;
    padding-bottom:20px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}
#contact .contact-wrapper #name,#name{
    padding-top:10px;
    padding-bottom:10px;
    border:none;
    border-radius:4px;
    width:98%;
}
#contact .contact-wrapper #name,#mail{
    padding-top:10px;
    padding-bottom:10px;
    border:none;
    border-radius:4px;
    width:98%;
}
#contact #message{
    padding-top:20px;
    padding-bottom:20px;
    border:none;
    border-radius:4px;
    width:98%;
    margin-bottom:20px;
}
#contact #button{
    padding:10px;
    border:2px solid #dc143c;
    background-color:#dc143c;
    color:#fff;
    border-radius:7px;
    width:200px;
    margin:0 auto;
    font-family: 'Montserrat Subrayada', sans-serif;
    transition:all 0.5s;
}
#contact #button:hover{
    color:#dc143c;
    border:2px solid #fff;
    background-color:#fff;
    transition:all 0.5s;
}

/*----------------------------------------------------
footer
------------------------------------------------------*/

#footer{
    text-align:center;
    background-color:rgba(28,28,28,1.0);
    color:#fff;
    height:70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#footer .btn-sns {
    font-size: 5rem;
    letter-spacing: 0;
    color: #fff;
    margin:0;
}
#footer  p{
    text-align: center;
}
#footer i:hover {
    color:#1da1f2;
    transform: rotate(25deg);
    transition:all 0.5s;
}

#footer i {
    transition:all 0.5s;
}
#footer .footer{
    /*margin-top:0;*/
    display:inline-block;
    vertical-align: middle;
    font-family: 'Quicksand', sans-serif;
}

/*-------------------------------------------
SP
-------------------------------------------*/
@media screen and (max-width: 1000px) {
  .carousel {
      /* 400x700の領域からはみ出た部分は非表示 */
      width: 525px;
      height:600px;
    }
  .slides li {
      float: left;
      width: 525px;
      height: 600px;
    }
  .slides-text{
      float:left;
      width:100%;
      box-sizing: border-box;
      padding:5%;
      margin:0;
    }
    .slides img{
        
    }
    #work .work-item{
        width:50%;
    }
    #about .icon-wrapper .name .name-main{
        font-size:2rem;
    }
    #skill .fab{
        font-size:4rem;
    }
    #contact .sub-sec-title{
        left:40%;
    }

}
@media screen and (max-width: 666px) {
    #work .work-item{
        width:100%;
    }
}
@media screen and (max-width: 600px) {
    section{
        padding-top:50px;
    }
    .sec-title{
        font-size:4rem;
    }
    .sub-sec-title{
        font-size:1.4rem;
    }
    
    #about .profile{
        display:inline-block;
    }
    #about .icon-wrapper{
        /*width:;*/
    }
    #about .about-wrapper{
        width:75%;
        margin-right:0;
        float:right;
        margin-top:30px;
    }
    #about .icon-wrapper .name .name-main{
        font-size:2rem;
    }
    #about .about-wrapper h4{
        margin:0;
    }
    
    #contact .contact-wrapper form{
        max-width:300px;
    }
    
    .slides li img{
      width:480px;
      height:260px;
    }
    .carousel {
      /* 400x700の領域からはみ出た部分は非表示 */
      width: 480px;
      height:550px;
    }
  .slides li {
      float: left;
      width: 480px;
      height:550px;
    }
  .slides-text{
      float:left;
      width:100%;
      box-sizing: border-box;
      padding:5%;
      margin:0;
    }
    #skill .skill-wrap{
        width:80%;
        padding:10px 20px;
        margin:0 auto;
        font-size:0.7rem;
    }
    #skill .fab{
        font-size:3rem;
    }
    #service{
        padding-bottom:80px;
    }
    #service .service-wrapper{
        margin-right:15%;
        margin-left:15%;
        display:block;
        font-size:0.7rem;
    }
    #service .service-wrap-right{
        width:100%;
        margin-bottom:0px;
        margin-right:0;
        padding:20px;
    }
    #service .service-wrap-left{
        width:100%;
        margin-bottom:40px;
        margin-right:0;
        padding:20px;
    }
    #service .sub-sec-title{
        left:35%;
    }
    #contact .sub-sec-title{
        left:30%;
    }
}
@media screen and (max-width: 480px) {
    body{
    font-size:0.8rem;
    line-height:1.6;
    }
    .site-title{
        font-size:2rem;
    }
    .sub-site-title{
        font-size:0.3rem;
    }
    
    .sec-title{
        font-size:4rem;
    }
    section{
        padding-top:50px;
    }
    .sub-sec-title{
        font-size:1.4rem;
    }
    .slides li img{
        width:280px;
        height:160px;
        padding:0;
    }
    .carousel {
      /* 400x700の領域からはみ出た部分は非表示 */
      width: 280px;
      height:430px;
    }
    .slides li {
      float: left;
      width: 280px;
      height:430px;
    }
    .slides-text{
      float:left;
      width:100%;
      box-sizing: border-box;
      padding:5%;
      margin:0;
    }
    #work .work-wrapper ul{
        padding:50px 0px;
    }
    
    #skill .skill-wrap{
        width:75%;
        padding:10px 10px;
        margin:0 auto;
        font-size:0.5rem;
    }
    #skill .skill-item{
        padding-right:5px;
        padding-left:5px;
    }
    #skill .fab{
        font-size:2rem;
    }
    
    #about .sub-sec-title{
        left:40%;
    }
    #about .profile{
        display:inline-block;
    }
    #about .icon-wrapper{
        width:100%;
        margin-right:0;
        margin-left:0;
    }
    #about .icon-wrapper img{
        width:240px;
        height:275px;
    }
    
    #about .icon-wrapper h3{
        margin:0;
    }
    #about .about-wrapper h4{
        margin:0;
        font-size:1rem;
    }
    #about .icon-wrapper .name .name-main{
        font-size:1rem;
        margin-right:5px;
    }
    #about .icon-wrapper .name .name-sub{
        font-size:0.7rem;
        margin:0;
    }
    #about .about-wrapper{
        width:75%;
        margin-right:0;
        float:right;
        margin-top:30px;
    }
    #about .about-wrapper p{
        font-size:0.3rem;
    }
    #service{
        padding-bottom:80px;
    }
    #service .service-wrapper{
        margin-right:15%;
        margin-left:15%;
        display:block;
        font-size:0.7rem;
    }
    #service .service-wrap-right{
        width:100%;
        margin-bottom:0;
        margin-right:0;
        padding:15px;
    }
    #service .service-wrap-left{
        width:100%;
        margin-bottom:40px;
        margin-right:0;
        padding:15px;
    }

    #service .sub-sec-title{
        left:35%;
    }
    #contact .contact-wrapper form{
        max-width:300px;
    }
    #contact .sub-sec-title{
        left:25%;
    }
    
}

